.grid-container {
    display: inline-grid;
    margin: 6rem;
    padding: 20px;
    border-radius: 30px;
    background-color: #FCDDB0;
    box-shadow:
      inset 0 -5em 5em rgba(0, 0, 0, 0.1),
      0 0 0 3px rgb(255, 255, 255),
      1em 1em 1em rgba(0, 0, 0, 0.3);
      .lista {
        text-align: center;
        font-size: 25px;
      }
      .hijo {
        padding-bottom: 5px;
      }
      .todo {
        background-color:  #FFFAD7;
        border-radius: 20px;
        margin-top: 15px;
        text-align: center;
        font-family: cursive;
        font-size: 20px;
        transform: scale(var(--escala, 1));
        transition: transform 0.25s;
        &:hover {
            cursor: pointer;
            --escala: 1.01;
            -webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
            }
      }
        
  }